body{
    margin: 3px;
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;

}
.container{
    display: flex;
    flex-direction: column;
    
}
.home{
    background-image: url(/background77.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    color: rgb(255, 41, 13);
    text-align: center;
    position: relative;
     z-index: 99;
}
.home h1{
    margin-top: 90px;
}
.home p{
    margin-top: 40px;
    background-color: rgb(12, 11, 11,0.5);
    padding: 10px;
    
}

.home button{
    font-size: 18px;
    background-color: rgba(59, 51, 51, 0.6);
    border-radius: 8px;
    border: solid 1px rgb(226, 74, 9);
    color: rgb(248, 200, 162);
    margin-top: 10px;
    margin-right: 80px;
}

.navbar ul {
    position: fixed;
    z-index: 9999;
    list-style: none;
    gap: 30px;
    display: flex;
    align-items: center;
    background-color: rgb(19, 18, 18,0.9);
    height: 50px;
    width: 100%;
    margin-top: 0px;
}
.navbar a{
    text-decoration: none;
    color: rgb(250, 185, 133);
    padding-right: 20px;
    font-size: 19px;


}
.whole{
    background-image: url(/background98.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    color: rgb(255, 83, 3);
    
}
.menu{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    text-align: center;
    position: relative;
    margin-top: 45px;
    

}
.whole h1{
    display: flex;
    margin-top: 47px;
    margin-left: 30px;
}
.whole h3{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin:0px;
    margin-left: 70px;
    background-color: rgb(17, 17, 17,0.7);
}
.card{
    border: solid 1px rgb(207, 103, 17);
    border-radius: 40px;
    background-color: rgba(12, 11, 11, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    padding: 20px 10px;
    position: relative;
    
}
.card h2, .card p{
    padding: 5px;
    margin: 0px;

}
.card button{
    font-size: 18px;
    border-radius: 8px;  
    background-color: rgba(119, 108, 108, 0.6);
    color: rgb(209, 19, 19);
    box-shadow: 2px 1px 1px rgb(226, 125, 10,0.6);

}
 button.back{
    border-radius: 8px;
    background-color: rgba(117, 112, 112, 0.7);
    color: rgb(231, 124, 61);
    padding: 8px;
    font-size: 20px;
    display: block;
    margin: 10px auto 10px;
    box-shadow: 2px 1px 1px rgb(226, 125, 10,0.6);

}
.about{
    background-image: url(/about.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    margin-top: 0px;
    text-align: center;
    padding-top: 70px;
    color: rgb(252, 211, 178);

}
.about h2{
    text-decoration: overline orangered 1px;
    background-color: rgb(10, 10, 10,0.1);

}
.about h4{
    color: orangered;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 0px;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(17, 17, 17,0.4);
}
.about p{
    background-color: rgb(17, 16, 16,0.4);
    padding: 10px;
    color: rgb(248, 198, 156);

}
.details{
    background-image: url(/cook.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px
}
.each{
    background-color: rgba(8, 8, 8, 0.9);
    border-radius: 40px;
    padding: 10px;
    color: rgb(247, 84, 8);
}
.details h1{
    padding: 0px;
    color: rgb(252, 116, 5);
    margin-bottom: 0px;
}
.each h2{
    padding: 0px;
    margin-bottom: 0px;
}
.each h3{
    padding: 0px;
    margin-bottom: 0px;
}
.each p{
    max-width: 450px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: 400;
}
.each button{
    font-size: 20px;
    border-radius: 8px;
    color: rgb(236, 170, 71);
    background-color: rgb(56, 53, 53);
}
.each img{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    margin: 5px;
}

.found button{
    color: rgb(245, 240, 238);
    background-color: black;
    font-size: 18px;
    border-radius: 8px;
}

