*, *::before,*::after{
    box-sizing: border-box;
    margin: 0px;
}


body{
    margin: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    color: orangered;

}
.container{
    min-height: 100vh;
    
}
.respond{
    max-width: 1200px;
    margin: 0px;
}
.home{
    background-image: url(/background77.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    color: rgb(229, 196, 145);
    text-align: center;
    position: relative;
    z-index: 99;
 
}
.home h1{
    padding-top: 50px;
}
.home p{
    margin-top: 40px;
    background-color: rgb(12, 11, 11,0.5);
    width: 100%;
    padding: 10px;
    
}

.home button{
    font-size: 18px;
    background-color: rgba(59, 51, 51, 0.6);
    border-radius: 8px;
    border: solid 1px rgb(226, 74, 9);
    color: rgb(248, 200, 162);
    display: block;
    margin: 20px auto;
    
}
.navbar{
    position: fixed;
    top: 0px;
    height: 60px;
    width: 100%;
    z-index: 99998;
    gap: 30px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
        
}
nav ul{
    display: flex;
    gap: 50px;

}
.logo{
    font-Size:20px ;
    font-Style:oblique ;
    font-Weight:bold ;
    position:relative;
    text-decoration: overline 1px solid rgb(245, 154, 121);
    margin-top: 5px;
    z-index:999;
    width: auto;
    margin-bottom: 0px;
}
.logo a{
    color: #e6ba88;
}
.bars{
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: rgb(226, 155, 89);
    position: relative;
    z-index: 99999;
}
.nav-links li{
    list-style: none;

    margin-bottom: 30px;
}

.nav-links li a{
    text-decoration: none;
    color: #ecbb93;
    font-size: 20px;
    padding-top: 60px;
    
}
@media screen and (max-width:768px){

  .bars{
    display: block;
    font-size: 24px;

    
  }
  .nav-links {
    position: fixed;
    top: 0px;
    right: -1000px;
    width: 100%;
    min-height: 50vh;
    text-align: center;
    background: rgb(14, 13, 13);
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease;
  }

  .nav-links.open {
    right: 0px;
  }
}
.whole{
    background-image: url(/background98.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    right: 0px;
    color: rgb(194, 127, 96);
    
}
.menu{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    text-align: center;
    position: relative;
    margin-top: 55px;

}
.whole h1{
    display: flex;
    padding: 40px;
}
.whole h3{
    display: flex;
    flex-direction: column;
    margin:0px;
    margin-left: 70px;
    background-color: rgb(17, 17, 17,0.7);
}
.card{
    border: solid 1px rgb(207, 103, 17);
    border-radius: 40px;
    background-color: rgba(5, 5, 5, 0.6);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px;
    padding: 20px 10px;
    position: relative;
    
}
.card h2, .card p{
    padding: 5px;
    margin: 0px;

}
.card button{
    font-size: 18px;
    border-radius: 8px;  
    background-color: rgba(73, 71, 71, 0.6);
    color: rgb(247, 194, 144);
    box-shadow: 2px 1px 1px rgb(226, 125, 10,0.6);

}
 button.back{
    border-radius: 8px;
    background-color: rgba(26, 24, 24, 0.7);
    color: rgb(248, 181, 164);
    padding: px 8px;
    font-size: 20px;
    display: block;
    margin: 50px auto 0px;
    box-shadow: 2px 1px 1px rgb(226, 125, 10,0.6);

}
.about{
    background-image: url(/about.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    margin-top: 0px;
    text-align: center;
    padding-top: 70px;
    color: rgb(252, 211, 178);

}
.about h2{
    text-decoration: overline orangered 1px;
    background-color: rgb(10, 10, 10,0.1);

}
.about h4{
    color: orangered;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 0px;
    font-style: oblique;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(17, 17, 17,0.4);
}
.about p{
    background-color: rgb(17, 16, 16,0.4);
    padding: 10px;
    color: rgb(248, 198, 156);

}
.details{
    background-image: url(/cook.png);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 40px
}
.each{
    background-color: rgba(8, 8, 8, 0.9);
    border-radius: 40px;
    padding: 10px;
    color: rgb(247, 84, 8);
}
.details h1{
    padding: 0px;
    color: rgb(252, 116, 5);
    margin-bottom: 0px;
}
.each h2{
    padding: 0px;
    margin-bottom: 0px;
}
.each h3{
    padding: 0px;
    margin-bottom: 0px;
}
.each p{
    max-width: 450px;
    line-height: 1.5;
    margin-bottom: 0px;
    font-weight: 400;
}
.each button{
    font-size: 20px;
    border-radius: 8px;
    color: rgb(236, 170, 71);
    background-color: rgb(56, 53, 53);
}
.each img{
    width: 200px;
    height: 200px;
    border-radius: 18px;
    margin: 5px;
}

.found button{
    color: rgb(245, 240, 238);
    background-color: black;
    font-size: 18px;
    border-radius: 8px;
}

